@import 'bootstrap';

html, body {
  min-height: 100%;
}

body {
  background: #f5f5f5;
  margin-top: 50px;
  margin-bottom: 50px;
}

// Imports
@import 'base/shared';
@import 'base/mixins';

// Modules
@import 'modules/custom-buttons';
@import 'modules/custom-forms';
@import 'modules/home';
@import 'modules/login';
@import 'modules/profile';
@import 'modules/iconed-list';
@import 'modules/account-infobox';
@import 'modules/message';