<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title><%= htmlWebpackPlugin.options.title %></title>

   <!-- Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
</head>

<body>
   <div class="container">
      <!-- Home module -->
      <section class="row home module">
         <div class="col-xs-12 home-header">
            <h1>Welcome to react-bank</h1>
         </div>
         <div class="col-md-6 hidden-xs hidden-sm home-image">
            <img src="https://placehold.it/400x300" class="img-responsive" alt="Home image">
         </div>
         <div class="col-xs-12 col-md-6 home-features">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, sequi.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, sequi.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, sequi.</p>

            <div class="home-cta">
               <a href="#" class="btn btn-primary btn-lg">Log in now</a>
            </div>
         </div>
      </section>

      <!-- Login module -->
      <section class="row login module">
         <div class="col-xs-12 login-icon">
            <div class="icon-container">
               <img src="<%= require('./img/login-icon.png') %>" class="img-responsive" alt="Login icon">
            </div>
         </div>
         <form class="col-xs-12 login-form" method="post">
            <div class="form-group">
               <input type="text" class="form-control login-input" placeholder="Login">
            </div>
            <div class="form-group">
               <input type="password" class="form-control password-input" placeholder="Password">
            </div>
            <div class="checkbox">
               <label>
                  <input type="checkbox"> Keep me signed in
               </label>
            </div>
         </form>
         <button type="submit" class="btn btn-primary module-btn">Submit</button>
      </section>
   </div>
</body>
</html>