.login {
   max-width: 365px;
   padding-bottom: 0;
}

// Icon

.login-icon {
   text-align: center;
}

.icon-container {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   margin: 35px 0 60px;
   padding: 48px;
   border-radius: 50%;
   box-shadow: 0 0 65px rgba(131, 100, 238, 0.15);
   background: #fff;
}

// Form

.login-input, .password-input {
   padding: 25px 17px 25px 44px;
   background-position: 17px;
   background-repeat: no-repeat;
}

.login-input {
   background-image: url('../img/human-icon.svg');
}

.password-input {
   background-image: url('../img/lock-icon.svg');
}

// CTA button

.login-cta {
   text-align: center;
   margin-top: 20px;
}